<!DOCTYPE html>
<html>
<head>
	<title>About ReadingBooks</title>
	<style type="text/css">
	body {
		font-family: cursive;
	}
	p {
		font-family: cursive;
		font-size: 1.5em;
	}
	</style>
</head>
<body>
	<h1>关于本站</h1>

	<p>
	   您好, 欢迎光临本站! :-)
	</p>
	<p>
		创建本站为了分享书籍文档。
	</p>
	<p>
		 <a href='http://me.alipay.com/zhibinw'>捐赠: <img src='https://img.alipay.com/sys/personalprod/style/mc/btn-index.png' /> </a>
	</p>
</body>
</html>