<!DOCTYPE html>
<html>
<head>
	<title>About ReadingBooks</title>
	<style type="text/css">
	body {
		font-family: cursive;
	}
	p {
		font-family: cursive;
		font-size: 1.5em;
	}
	</style>
</head>
<body>
	<h1>About ReadingBooks </h1>

	<p>
	    Hi, everybody, I am zhibin, thanks for visiting this site :-)
	</p>
	<p>
		I host this site to share books.
	</p>
	<p>
		 <a href='http://me.alipay.com/zhibinw'>Donate: <img src='https://img.alipay.com/sys/personalprod/style/mc/btn-index.png' /> </a>
	</p>
</body>
</html>