<h1>All files</h1>

<table class="table">
  <tr>
    <th>Cover Image</th>
    <th>Name</th>
    <th>Upload time</th>
    <th>uploader</th>
    <th>file size</th>
    <th>download times</th>
    <th>+1</th>
  </tr>
   <% @posts.each do |post| %>
   <tr>
       <td>for image</td>
       <td><%= link_to "#{post.origin_name}", post_path(post) ,:class=>'link'%></td>
       <td><%= post.created_at %></td>
       <td>None</td>
       <td>for file-size</td>
       <td>0</td>
       <td>for +1</td>
   </tr>
   <% end %>
</table>
