@import 'bootstrap';
body {
     background-color: #faf2e4;
     margin: 0 15%;
}

#header{
    padding-bottom: 10%;
}

a {
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    color: green;
}
.nav-text{
    color: white;
    font-size: 1.2em;
}
