@import 'bootstrap';
body {
     background-color: #faf2e4;
     margin: 0 15%;
}

#header{
    padding-bottom: 10%;
}

.nav-text{
    color: white;
    font-size: 1.2em;
}

.book-desc{
    display:inline-block;
    a {
        font-size: 1.2em;
        text-decoration: none;
    }
    vertical-align: top;
    margin-left:1em;
    width: 50em;
}
.book-index {
    padding: 1em;
    border: 1px dashed green;
}

.book-img {
    width:60px;
    height:auto;
    border:1px solid;
}

.book-name-input {
    width: 30em;
}
.book-desc-input {
    width: 30em;
    height: 10em;
}
.book-image-input {
    width: 30em;
}

.book-title{
    margin-bottom: 1em;
}


.uploader{
    margin: 1em;
    .name{
        color: red;
    }
}

.nav-upload {
    margin-left: 2em;
}